/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
	scroll-behavior: smooth;
	background-color: #FFFEF8;
}
body {
	line-height: 1;
}
a {
	color: inherit;
	text-decoration: inherit;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
.main-container {
	max-width: 1140px;
	margin: 0 auto;
}
body {
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	gap: 25px;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li a:hover {
	font-weight: bold;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}

.gallery-add {
	width: 430px;
	margin: 0 auto;
	
}

.form-add-contain {
	border-bottom: solid 1px #B3B3B3;	
	padding-bottom: 50px;
}

.gallery-edit {
	width: 430px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 12px;
	grid-row-gap: 20px;
	margin: 0 auto;
	padding:50px 0px;
	border-bottom: solid 1px #B3B3B3;
}

.gallery-edit img {
	width: 100%;
}

.gallery-edit figure {
	position: relative;
}

.gallery-edit .delete {
	position: absolute;
    background: black;
    padding: 2px 4px;
    top: 5px;
    right: 5px;
	border-radius: 2px;
}

.gallery-edit .delete:hover {
	background: #888;
}

#contact, #login {
	width: 50%;
	margin: auto;
}
#contact > * , #login {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form, #login form, .form-add-contain {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}
#login form {
	width: 379px;
    margin: 30px auto;
}

#contact input, #login input, #form-add-work input[type="text"], #form-add-work select {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	padding-left: 10px;
}
#contact label, #login label, #form-add-work label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.gallery-filter {
	text-align: center;
}

.gallery-filter .btn-filter, .btn-add-file {
	min-width: 100px;
	height: 37px;
	border: solid 1px #1D6154;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 16px;
	color: #1D6154;
	margin : 3em 0.2em;
	margin-top: 0;
	text-align: center;
	border-radius: 60px ;
	background: none;
	cursor: pointer;
}

.gallery-filter .active, .gallery-filter .btn-filter:hover {
	color: white;
	background: #1D6154;
}

input[type="submit"], .btn-add{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	cursor: pointer;
}

input[type="submit"]:hover, .btn-add:hover{
	background: #0E2F28;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.success {
	background: green;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    border-radius: 3px;
    color: white;
    text-transform: uppercase;
	margin: 20px 0px;
}

.error, .errorForm {
	background: brown;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    border-radius: 3px;
    color: white;
    text-transform: uppercase;
	margin: 20px 0px;
}

.btn-edit {
    align-items: center;
    gap: 5px;
	cursor: pointer;
	display: none;
}

.gallery-title {
	display: flex;
	margin-bottom: 1em;
	justify-content: center;
	gap: 20px;
	align-items: center;
}

.btn-edit:hover {
	font-weight: bold;
}

.edition-info {
	background-color: black;
	color: white;
	display: none;
}

.edition-info p {
	display: flex;
    justify-content: center;
    font-size: 16px;
    padding: 21px;
    gap: 10px;
    align-items: center;
}

main {
	margin: 0px 94px;
}

.modal {
	background: rgba(0,0,0,.3);
	position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	animation: fadein .9s both;
}

.modal .modal-contain {
	background: white;
	width: 550px;
	border-radius: 10px;
	overflow: auto;
	padding: 40px;
}

.modal-title {
	text-align: center;
	color: black;
	font-size: 26px;
	font-weight: 400;
}

.modal-head {
	display: flex;
    align-items: center;
    justify-content: space-between;
}

.back-modal {
	visibility: hidden;
}

.back-modal img {
	transition: transform .2s ease-in-out;
}

.back-modal img:hover {
	transform: scale(0.9)
}

.close-modal img {
	transition: transform .4s ease-in-out;  
}

.close-modal img:hover {
	transform: rotate(90deg);
}

.btn-add, #form-add-work input[type="submit"] {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 36px;
	font-size: 14px;
	width: 237px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.label-file {
	cursor: pointer;
	background: #E8F1F6;
	border-radius: 3px;
	height: 169px;
	display: flex;
	justify-content: center;
    flex-direction: column;
}

.label-file:hover {
	filter: brightness(0.9);
}

.file-preview {
	height: 100%;
	object-fit: contain;
}

.label-file span {
	text-align: center;
}
#input-file {
	visibility: hidden;
	display: none;
}

.btn-add-file {
	background: #CBD6DC;
	color: #306685;
	font-size: 14px;
	width: 173px;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	margin: 10px auto;
	border: none;

}

@keyframes fadein {
	from {
		opacity: 0;
	}
  
	to {
		opacity: 1;
	}
}